<html>
    <head>
        <!--Bootstrap cdns-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <title>Credential manager</title>
        
    </head>
    <body>
        <div class="page-header" align="center" style="padding:10px">
            <h1>Credential Manager</h1>
        </div>
        <div align="center" style="padding:10px">
            <div class="row">
                <div class="col-md-12">
                    <form id="creator" onsubmit="return false">
                        Account: <input type="text" id="formAccount" name="account"/>
                        Username: <input type="text" id="formUsername" name="username"/>
                        Password: <input type="password" id="formPassword" name="password"/>
                        <button onclick="add(this);">
                            Add Credential
                        </button>
                    </form>
                </div>
            </div>
            <div class="row" style="padding:20px">
                <div class="col-md-12">
                    <table id="list" class="table table-striped" style="width:40%">
                        <tr>
                            <th>Account</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                        {% for account in data %}
                        
                            {% for username in data[account] %}
                            <tr>
                                <td>{{ account }}</td>
                                <td>{{ username }}</td>
                                <td>{{ data[account][username] }}</td>
                                <td><button onclick="del(this)">Delete</button></td>
                            </tr>
                            {% endfor %}
                        
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script>
        //Delete Data
        var del = function (e) {
            
            //Creatinga Request
            const XHR = new XMLHttpRequest();
            let FD = new FormData();
            FD.append('account',e.parentNode.parentNode.children[0].innerHTML);            
            XHR.addEventListener( "load", function(event) {
                //Removing Content
                e.parentNode.parentNode.remove()
                alert("Credential deleted");
            });
            XHR.addEventListener( "error", function( event ) {
              console.log( 'Oops! Something went wrong.' );
            } );
            XHR.open( "DELETE", "/delete" );
            XHR.send(FD);
        }
        
        //Create the data
        var add = function (e) {    
            //Getting form data
            var form = document.getElementById("creator")
            
            //Create a Post request
            const XHR = new XMLHttpRequest();
            const FD = new FormData( form );
            
            XHR.addEventListener( "load", function(event) {
                //Adding content upon success
                var row = document.createElement('tr');
                var node = document.getElementById("list")
                row.innerHTML = "<td>"+document.getElementById("formAccount").value+"</td><td>"+document.getElementById("formUsername").value+"</td><td>"+document.getElementById("formPassword").value+"</td><td><button onclick='del(this)'>Delete</button></td>"
                node.children[0].appendChild(row)
                alert("Credential added");
                document.getElementById("creator").reset();
            });
            XHR.addEventListener( "error", function( event ) {
              console.log( 'Oops! Something went wrong.' );
            } );
            XHR.open( "POST", "/create" );
            XHR.send( FD );
        }
    </script>
</html>